<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type</label>
    <input type="text" id="creatureType" name="type">

    <label for="creatureName">Image URL</label>
    <input type="url" id="creatureName" name="img_url">

    <input type="submit">
</form>