<form action="/prehistoric_creatures" method="POST">
    <label for="creature_type">Type:</label>
    <input type="text" id="creature_type" name="type">

    <label for="creature_img">Image URL:</label>
    <input type="url" id="creature_img" name="img_url">

    <input type="submit" value="add a creature">
</form>