<form method="POST" action="/dinos">
    <label for="dinoType">Type</label>
    <input type="text" id="dinoType" name="type">

    <label for="dinoName">Name</label>
    <input type="text" id="dinoName" name="name">

    <input type="submit">
</form>